*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}
.Interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color:rgb(80, 2, 80);
}
header{
    padding: 20px 2%;
}
header > .Interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header .Contatar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(80, 2, 80);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .Contatar button:hover{
    box-shadow: 0px 0px 8px rgb(197, 2, 197);}
section.topo{
    padding: 40px 4%;
}
section.topo.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo h1{
    color: #fff;
    font-size: 38px
}
.topo .textos h1 span{
    color: rgb(80, 2, 80);
}
.topo .textos p{
    color: #fff;
    margin: 20px 0;
}

.topo .imgtopo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    } 
}
section.Bio{
    padding: 40px 4%;
}
section.Bio .flex{
    gap: 40px;
}

.Bio .BioBox{
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 45px;
}
.Bio .BioBox i{
    font-size: 70px;
    color: yellow;
}
.Bio .BioBox h3{
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
}
section.Portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff35;
}
section.Portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.ImgPortifolio{
    width: 360px;
    height: 460px;
    background-position: cover;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.ImgPortifolio:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    color: #fff;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff35;
}
footer .flex{
    justify-content: space-between;
}
footer .linefooter{
    padding: 20px 0;
}
.borda{
    border-top: 2px solid rgb(80, 2, 80);
}
.contatos button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: yellow;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
footer .linefooter p i{
    color: yellow;
    font-size: 22px;
}
footer .linefooter p a{
    color: #fff;
}
@media screen and (max-width:1020px){
    .flex{
        flex-direction: column;
    }
    .MenuDesktop, .Contatar{
        display: none;
    }
    .topo h1{
        font-size: 30px 
    }
    section.topo{
        padding: 20px 8%;
    }
    .ImgPortifolio{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.Portifolio .flex{
    gap: 60px;
    }

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    footer .linefooter{
        text-align: center;
    }
}